.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:700}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:700}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:700}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}
/*The previous line is for the carousel*/

#preview-coverflow .cover {
  cursor:   pointer;
  width:    240px;
  height:   180px;
  box-shadow: 0 0 2em 1em darkblue;
}

.jumbotron{
  padding-top: 100px;
  padding-bottom: 100px;
  height: 600px;
}


.projectImage {
  height: 150px;
  width: auto;
}

#menu {
  margin-bottom: 2em;
}

#preview {

  padding: 2em;
  margin: 0 10%;
  text-align: center;
}

.chapter {
  -webkit-columns: 460px;
  -moz-columns: 460px;
  columns: 460px;

  -webkit-column-gap: 4em;
  -moz-column-gap: 4em;
  column-gap: 4em;

  -webkit-column-rule:  thin solid silver;
  -moz-column-rule:  thin solid silver;
  column-rule:  thin solid silver;

  text-align:       justify;
}

.output {
  font-family:    monospace;
  border:       solid thin silver;
  padding:      .2em .4em;
  background-color: #cf3;
}

.clickable {
  cursor:       pointer;
}

pre {
  tab-size: 4;
  overflow-x: auto;
  background-color: #eee;
  -webkit-column-break-inside: avoid;
}