.projectImage {
  height: 150px;
  width: auto;
}


.projectSample{
  border-left:1px solid black;
  border-bottom: 1px solid black;
  margin: 0px;
  background: #d6d6ff;
}
.projectSample a{
  color: #005f02;

  text-decoration: none;
}