.jumbotron{
	text-align: center;
    font-family: 'Trade Winds', cursive;

}
.navbar-header{
  font-family: 'Trade Winds', cursive;  
}
.panel{
    font-family: 'Trade Winds', cursive;    
}
footer{
	position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    clear: both;
    font-size: 15px;
    border-top: 1px black;
    margin-top: 50px;
    font-family: 'Trade Winds', cursive;
}
