body {
  background-color: #000000;
  background: url(../images/blueSphere.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*add padding to make room for the static footer*/
  padding-bottom: 51px;
}

nav form {
  float: right;
  font-family: 'Trade Winds', cursive;
}

.navmod {
  background-color: black;
  border: 2px solid #0000cc;
  border-bottom: 2px solid #000099;
}

#mcNavbar {
  font-family: 'Trade Winds', cursive;
}

.navbar-header {
  font-family: 'Trade Winds', cursive;
  color: black;
}

nav form {
  float: right;
}

.jumbotron {
  text-align: center;
  font-family: 'Trade Winds', cursive;
  height: 300px;
  background-image: url(../images/waveMeterRs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid #d260d4;
}

.jumbotron .container {
  position: relative;
  top: 50px;
}

#welcomeText{
  color: black;
  text-shadow: -2px 0 green, 2px 0 green, 0 -2px green;
  max-width: 100%;
  box-sizing: 95%;
  margin-right: 1%;
  margin-left: 1%;
  word-wrap: break-word;
}

.panel-body {
  background-color: #b1b1cd;
  border-bottom: 2px solid #d260d4;
  font-family: 'Arimo', sans-serif;
  padding: 0px 30px;
}


footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  clear: both;
  font-size: 15px;
  border-top: 1px black;
  font-family: 'Trade Winds', cursive;
  text-decoration-color: #fff;
  color: #ddd;
  background-color: black;
}

footer p {
  padding-top: 15px;
}

label {
  font-size: 17px;
}

.panel-heading{
  background-color: #371f94;
  font-family: 'Trade Winds', cursive;
}

/* project sample styling */
.projectSample{
  border-left:1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 15px;
  background: #d6d6ff;
  text-align: left;
}
.projectSample a{
  color: #005f02;
  text-decoration: none;
}
.projectImage {
  width: 80%;
}

.projectSample audio{
  width: 50%;
}
.crop {
  display: inline-block;
  width: 17vw;
  height: 17vw;
  margin: 5px;
  background-position: center center;
  background-size: cover;
}
